@import "~js/vars"

table
  background-color white
  width 100%
  padding 15px
  tr
    border-bottom 1px solid $gray
  th
    color $orange
    font-size 20px
    font-weight 300
    font-family $montserrat-thin
    text-align left
    &.time
      width 20%
