.sidebar
  height 100%
  width 260px
  z-index 1030
  position relative
  background-color #AAB3E2
  min-height 100%
  box-shadow 0 2px 22px 0 rgba(0,0,0,.2), 0 2px 30px 0 rgba(0,0,0,.35)
  a.heading
    color #fff
    text-decoration none
    text-align center
    padding 25px
    display block
.cat-bg
  position absolute
  bottom 0
  right 20px
  width 300px

