.sidebar
  height 70px
  width 100%
  z-index 1030
  display flex
  text-align center
  justify-content space-around
  align-items center
  position relative
  background-color #AAB3E2
  box-shadow 0 2px 22px 0 rgba(0,0,0,.2), 0 2px 30px 0 rgba(0,0,0,.35)
  a.heading
    color #fff
    text-decoration none
    text-align center
    padding 25px
    display flex
    align-items center
    .icon
      height 30px
      width 30px
      display block
      background-repeat no-repeat
      margin 0 10px
      background-size contain
.cat-bg
  position absolute
  bottom 0
  right 20px
  width 300px

