.d-content
  padding-top 20px
  background-color white
  min-height 668px
  width 85%
  margin -28px auto 0 auto
  border-radius .1875rem
  box-shadow 0 1px 15px 1px rgba(39,39,39,.1)
  position relative

.cat-bg
  position absolute
  bottom 0
  right 20px
  width 300px

