@import "~js/vars"

.info-container
  display flex
  justify-content space-around

.cat-page
  max-width 700px
  margin 0 auto
  .manipulation
    text-align center
    button.btn-action
      width 300px
      margin 10px auto
      padding 10px

  .img-holder
    text-align center

    img
      max-height 100%
      border-radius 50%

  .name, .age
    text-align center
    color $violet
    font-weight bold
    font-size 25px

  h3
    color $pink

  hr
    display block
    height 1px
    background $violet
    margin 15px auto