@font-face {
  font-family: 'MontserratRegular';
  src: url('/fonts/Montserrat-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratThin';
  src: url('/fonts/Montserrat-Thin.ttf') format('tff');
  font-weight: normal;
  font-style: normal;
}

$montserrat-regular = 'MontserratRegular', Helvetica, Arial, sans-serif;
$montserrat-thin = 'MontserratThin', Helvetica, Arial, sans-serif;

$gray = #e8e9ee;
$dark-blue = #0c2646;
$blue = #bce3ff;
$light-blue = #2a5788;
$orange = #f96332;
$pink = #E58291;
$violet = #E58291;



