@import "~js/vars";

.loader
  background-color rgba(255,255,255, .5)
  position absolute
  top 0
  left 0
  display flex
  align-items center
  font-size 50px
  text-align center
  width 100%
  justify-content center
  height 100%
  color $orange
  z-index 2
  img
    width 300px
