.workers-gallery
  display flex
  flex-wrap wrap
  justify-content center
  .worker-photo
    width calc(100%/4)
    margin 10px
  .worker-name, .worker-position
    text-align center
    font-size 22px
